
header{
    display: flex;
}
*{
    margin: 0; 
    padding: 0;
}
.info{
    text-align: right;
    margin-left: auto;
}
.parts{
    display: flex;
    margin-top: 30px;
}
.first{
    border-bottom: 2px solid black;
}
.head{
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.logo{
    font-size: 29px;
    color:#77468d;
}
.about{
    margin-left: 45px;
    color: grey;
}
.title{
    margin-left: 45px;
}
.dates{
    margin-left: 45px;
}
.title{
    color: #895c9c;
}
.titles{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: grey;
}
.dates{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: grey;
}